// No need to write Main.add
function add 2
   push argument 0
   push argument 1
   add
   return

// No need to write Main.main
function main 0
   call add 2  // Implicitly calls Main.add
   pop temp 0
   return
